@import '@fontsource/inter';
@import 'tailwindcss';

@layer base {
    html {
        font-family: 'Inter', sans-serif;
    }
}

.bg-custom_brown {
    background-color: #cdb494;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.15s ease-in-out;
}
